*{
	margin:0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background-color: #d7eacf;
}
h3{
	background-color: #BAB9B6;
	padding: 5px;
	color: #555757;
}
h2{
	color: #F0C411;
}

h1{
	margin-bottom: 20px;
	padding-top: 30px;
	color: #4B4C4C;
	font-size: 35px;
		
}
p{
	font-size: 14px;
}
#titulo{
	background-color: #F2B804;
	height: 130px;
	text-align: center;

}
#postagens a{
	color: #F6CB1A;
	display: block;
	text-decoration: none;

}
#postagens a:hover{
	text-decoration: underline;
}

#titulo a{
	display: inline;
	color: white;
	padding: 8px 12px;
	text-decoration: none;
	
}
#titulo a:hover{
	background-color: white;
	color:#F6CB1A;
	
}
.postagem1{
	background-color: white;
	width: 600px;
	margin-left: 200px;
	margin-top: 15px;
	padding: 10px;
	
}
.postagem2{
	background-color: white;
	width: 600px;
	margin-left: 200px;
	margin-top: 20px;
	padding: 10px;
	
}
hr{
	border:1px dotted #D1D3D3;
}
img{
	width: 580px;
	margin-top: 15px;
	border-top: 8px solid #E6E8E8;
}
#categorias{
	width: 230px;
	height: 150px;
	margin-top: 15px;
	position: absolute;
	left: 840px;
	top: 310px;
	background-color: white;
	padding: 8px;
}
#posts{
	width: 230px;
	height: 150px;
	position: absolute;
	left: 840px;
	top: 145px;
	background-color: white;
	padding: 8px;
}
#rodape{
	
	width: 865px;
	height: 50px;
	margin-left: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;

	background-color: #D3CFC6;

}